<main>
  <div class="header">
    <div class="temp">
      <img class="proflieImg" src="proflie.jpg" alt="" />
      <div class="name-container">
        <div class="name-chlid">
          <div class="name">Sorawit</div>
          <div class="name">Weng</div>
          <div class="contact">084-823-3387 · wyr.sorawit&#64;gmail.com</div>
        </div>
      </div>
    </div>
  </div>

  <div class="exprience">
    <div class="title">Exprience</div>
    <div>Wittech Development Co., Ltd.</div>
    <div>June 2022 - Dec 2022</div>
    <div>Intern</div>
    <div>
      <ul style="list-style-type: none">
        <li>
          - Implemented source code of new applications, completing within tight
          deadlines.
        </li>
        <li>
          - Tested code for bugs or technical issues, debugging to fix errors.
        </li>
        <li>
          - Produced clean, efficient and bug-free code for software development
          projects through debugging, testing and code reviews.
        </li>
        <li>- Built reusable code to utilise for other projects.</li>
        <li>- Contributed to back-end experience and collaborated on APIs.</li>
        <li>
          - Developed wireframes for new screen layouts and redesigned existing
          layouts, increasing user efficiency.
        </li>
        <li>
          - Designed layout and graphics to enhance aesthetics and appearance of
          website.
        </li>
        <li>
          - Improved web design and usability through UX testing. Integrated
          advanced UI principles for user-centred design.
        </li>
        <li>- Website https://research.science.kmitl.ac.th/</li>
      </ul>
    </div>

    <div>Jowit Global Co.,Ltd.</div>
    <div>Jan 2024 - Oct 2024</div>
    <div>Software Developer</div>
    <div>
      <ul style="list-style-type: none">
        <li>
          - Developed a report extraction program to retrieve data from the
          database
        </li>
        <li>
          - Studied the parking management software to optimize it according to
          requirements
        </li>
        <li>- Learned basic hardware integration and setup, including:</li>
      </ul>
      <ul style="list-style-type: disc" class="example">
        <li>Thermo printer</li>
        <li>Card reader</li>
        <li>Coin dispenser</li>
      </ul>
    </div>
  </div>
  <div class="project">
    <div class="title">Project</div>
    <ul>
      <li></li>
    </ul>
  </div>
  <div class="skill">
    <div class="title">Skill</div>
    <div>
      C#, React, Next.js, HTML, CSS, Javascript, Python, Java, LinQ, SQL
    </div>
  </div>
  <div class="tools">
    <div class="title">Tools</div>
    <div>
      Visual Studio 2012, Visual Studio Code, PostgreSQL, DBeaver, Source
      Tree(Git), GitHub, pgAdmin
    </div>
  </div>
  <div class="education">
    <div class="title">Education</div>
    <div>King Mongkut's Institute of Technology Ladkrabang</div>
    <div>BKK - Thailand</div>
    <div>Bachelor of Computer Science GPA 3.08</div>
    <div>June 2023</div>
    <ul style="list-style-type: disc">
      <li>
        Coursework: Operating Systems, Design patterns in Object-oriented
        Programming, Software Engineering, Software Analysis and Design,
        Database Systems, Object-oriented Programming, Data Structures and
        Algorithm, Analysis and Design of Algorithms and Programming
        Fundamentals
      </li>
    </ul>
  </div>
  <div class="language">
    <div class="title">Language</div>
    <div>English Toeic 660</div>
  </div>
</main>

<router-outlet />
