<main>
  <div class="container">
    <div class="left-block">
      <img class="profileImg" src="profile.jpg" alt="" />

      @switch (selectedTab) { @case ("about") {
      <div
        class="sidebar-tab"
        (click)="tabChanged('about')"
        style="color: #f5705b; border-color: #f5705b"
      >
        <div class="menu">About</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('exprience')">
        <div class="menu">Exprience</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('skills')">
        <div class="menu">Skills</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('education')">
        <div class="menu">Education</div>
      </div>
      } @case ("exprience") {
      <div class="sidebar-tab" (click)="tabChanged('about')">
        <div class="menu">About</div>
      </div>
      <div
        class="sidebar-tab"
        (click)="tabChanged('exprience')"
        style="color: #f5705b; border-color: #f5705b"
      >
        <div class="menu">Exprience</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('skills')">
        <div class="menu">Skills</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('education')">
        <div class="menu">Education</div>
      </div>
      } @case ("skills") {
      <div class="sidebar-tab" (click)="tabChanged('about')">
        <div class="menu">About</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('exprience')">
        <div class="menu">Exprience</div>
      </div>
      <div
        class="sidebar-tab"
        (click)="tabChanged('skills')"
        style="color: #f5705b; border-color: #f5705b"
      >
        <div class="menu">Skills</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('education')">
        <div class="menu">Education</div>
      </div>
      } @case ("education") {
      <div class="sidebar-tab" (click)="tabChanged('about')">
        <div class="menu">About</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('exprience')">
        <div class="menu">Exprience</div>
      </div>
      <div class="sidebar-tab" (click)="tabChanged('skills')">
        <div class="menu">Skills</div>
      </div>
      <div
        class="sidebar-tab"
        (click)="tabChanged('education')"
        style="color: #f5705b; border-color: #f5705b"
      >
        <div class="menu">Education</div>
      </div>
      } }

      <div class="contact-link">
        <a
          href="https://www.linkedin.com/in/sorawit-weng-601796289/"
          class="icon-linkedin"
        >
          <i class="fa fa-linkedin-square"></i>
        </a>
        <a href="https://github.com/Tee-SRW" class="icon-github"
          ><i class="fa fa-github"></i
        ></a>
      </div>
    </div>

    <div class="right-block">
      <div class="text-box">
        @switch (selectedTab) { @case ("about") {
        <div class="text-container">
          <div class="about">
            <div class="title">About</div>
            <div class="line"></div>
            <!-- <hr style="border-bottom: 0.5rem solid #f5705b" /> -->
            <div class="name">Sorawit Weng</div>
            <div class="contact-container">
              <div class="contact">084-823-3387</div>
              <div class="contact">wyr.sorawit&#64;gmail.com</div>
            </div>
          </div>
          <div class="profile">
            <div>
              I earned my degree in Computer Science from KMITL. With a strong
              interest in both software and hardware technologies, I am a
              software developer with a proven ability to adapt in both
              self-learning and team environments, consistently focused on
              delivering high-quality results.
            </div>
          </div>
          <div class="line-end-content"></div>
        </div>
        } @case ("exprience") {
        <div class="text-container">
          <div class="exprience">
            <div class="title">Exprience</div>
            <div class="line"></div>
            <div class="exp-company">
              <div class="company">Wittech Development Co., Ltd.</div>
              <div class="date">June 2022 - Dec 2022</div>
            </div>
            <div class="job-position">Intern</div>
            <div>
              Design and develop software based on user requirements.
              Implemented source code for new applications, meeting tight
              deadlines. Tested code for bugs and technical issues, debugging to
              ensure error-free execution. Produced clean, efficient, and
              bug-free code through thorough debugging, testing, and code
              reviews. Built reusable code for use in other projects and
              contributed to backend development, collaborating on APIs.
              Developed wireframes for new screen layouts and redesigned
              existing ones, improving user efficiency. Designed layouts and
              graphics to enhance the aesthetics and overall appearance of the
              website. Improved web design and usability through UX testing,
              integrating advanced UI principles to ensure user-centered design.
            </div>
            <div class="line-end-content"></div>

            <br />
            <div class="exp-company">
              <div class="company">Jowit Global Co.,Ltd.</div>
              <div class="date">Jan 2024 - Oct 2024</div>
            </div>
            <div class="job-position">Software Developer</div>
            <div>
              <div>
                I have experience in desktop application development for Windows
                using C# and ASP.NET (C#), with PostgreSQL and pgAdmin for
                database management. I utilized LINQ in C# to efficiently manage
                data from lists. Additionally, I employed Bitbucket and
                Sourcetree for version control, ensuring smooth collaboration
                and code management. I developed a report extraction program to
                retrieve data from the database and optimized parking management
                software according to specific requirements. I also gained
                hands-on experience with embedded systems and microcontrollers,
                learning the setup and usage of devices such as thermo printers,
                card readers, and other related hardware.
              </div>
            </div>
            <div class="line-end-content"></div>
          </div>
        </div>
        } @case ("skills") {
        <div class="text-container">
          <div class="project">
            <div class="title">Project</div>
            <div class="line"></div>
            <div>Resume Project</div>
            <div>Using Angular version 19</div>
            <div>https://github.com/Tee-SRW/resume</div>
            <div class="line-end-content"></div>
          </div>
          <div class="skill">
            <div class="title">Skills</div>
            <div class="line"></div>
            <div>
              C#, React, Next.js, Node.js, HTML, CSS, Javascript, Python, Java,
              LinQ, SQL, UX/UI, ASP.NET Skill
            </div>
            <div class="line-end-content"></div>
          </div>
          <div class="tools">
            <div class="title">Tools</div>
            <div class="line"></div>
            <div>
              Visual Studio 2012, Visual Studio Code, PostgreSQL, DBeaver,
              BitBucket, Source Tree(Git), GitHub, pgAdmin, Figma, MongoDB Tools
            </div>
            <div class="line-end-content"></div>
          </div>
        </div>
        } @case ("education") {
        <div class="text-container">
          <div class="education">
            <div class="title">Education</div>
            <div class="line"></div>
            <div>King Mongkut's Institute of Technology Ladkrabang</div>
            <div>BKK - Thailand</div>
            <div>Bachelor of Computer Science GPA 3.08</div>
            <div>June 2023</div>
            <div>
              Coursework: Operating Systems, Design patterns in Object-oriented
              Programming, Software Engineering, Software Analysis and Design,
              Database Systems, Object-oriented Programming, Data Structures and
              Algorithm, Analysis and Design of Algorithms and Programming
              Fundamentals
            </div>
            <div class="line-end-content"></div>
          </div>
          <div class="language">
            <div class="title">Language</div>
            <div class="line"></div>
            <div>English Toeic 660</div>
            <div class="line-end-content"></div>
          </div>
        </div>
        } }
      </div>
    </div>
  </div>
</main>

<router-outlet />
